// animations
@keyframes toTop {
    0%,
    100% {
        transform: translateY(15px);
        transition: all 0.3s ease;
    }
    50% {
        transform: translateY(0px);
        transition: all 0.3s ease;
    }
}

// fade 
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}